h1{
    color: rgba(5, 82, 5, 0.856);
    font-size: 80px;
}

#list{
    display: flex;
    list-style: none;
    position: absolute;
    right: 20px;
    top: 20px;
    color: white;
}

.items{
    flex-basis: 200px;
    padding: 10px;
    color: white;
}

.paragraph{
    color: white;
}

#content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: white;
}

